.bgg{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ballooning-festival-at-cappadocia-during-sunrise-royalty-free-image-1570210964.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(7, 7, 7, 0.726);
    background-blend-mode: darken;
}
